/* Algemene instellingen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Achtergrond en tekstkleur */
body {
    background-color: #121212;
    color: #f4f1f1;
}

/* Navigatiebalk */
header {
    background-color: #000000;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Logo en tekst */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo-text {
    color: #ff0000;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Introductietekst */
.intro-content h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7); /* Rode gloed */
}

/* FilmCentral in rood */
.intro-content h1 span {
    color: #ff0000;
}

/* Beschrijvende tekst */
.intro-content p {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-bottom: 30px;
}

/* Ontdek populaire films knop */
.cta-button {
    background-color: #ff0000;
    color: #f4f1f1;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.7);
}

/* Hover-effect voor knop */
.cta-button:hover {
    background-color: #ff0000;
}

/* Navigatielinks bovenaan*/
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #f4f1f1;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #ff0000;
    border-radius: 5px;
}

/* Zoekbalk */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 180px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #ff0000;
    color: #f4f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ff0000;
}

/* Introductie sectie */
.intro {
    text-align: center;
    padding: 60px 20px;
    background-color: #1a1a1a;
    border-bottom: 3px solid #ff0000;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2em;
    color: #f4f1f1;
}

/* Sectietitels of Titel boven de films */
.filmgrid-section h2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: #ff0000;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Filmgrid */
.filmgrid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

/* Filmitems als klikbare knoppen */
.film-item {
    background-color: #1a1a1a;
    width: 220px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5);
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    color: #f4f1f1;
    cursor: pointer;
}
/* Grote afbeeldingen */

.film-item img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
/* Titel en beschrijving onder de film */

.film-item h3, .film-item p {
    color: #f4f1f1;
    margin-top: 10px;
}

.film-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
    background-color: #2a2a2a;
}

/* Filmdetail sectie */
.film-detail {
    padding: 60px 20px; /* tussen bovenste balk en beschrijving */
    background-color: #1a1a1a;
   
}

.film-detail-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.film-detail-img {
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
}
/* Tekstblok naast de img  */

.film-info {
    max-width: 600px;
}

.film-info h1 {
    font-size: 2.8em;
    color: #ff0000;
    margin-bottom: 20px;
}

.film-info p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #f4f1f1;
}

/* Trailer Knop */

.watch-button {
    padding: 12px 25px;
    background-color: #ff0000;
    color: #f4f1f1;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.watch-button:hover {
    background-color: #ff0000;
}

/* Footer */
footer {
    background-color: #000000;
    color: #f4f1f1;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #ff0000;
    margin-top: 40px;
}

/* Container voor de footer secties */
.footer-container {
    display: flex;      /* Liever opgesplits in */
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-section h3 {
    color: #ff0000;
    margin-bottom: 15px;
    font-size: 1.3em;
    text-transform: uppercase;
}

/* Footer links */
.footer-section ul {
    list-style: none;
}


.footer-section ul li {
    margin-bottom: 10px;

}

.footer-section ul li a {
    color: #f4f1f1;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #ff0000;
}

/* Onderste gedeelte van de footer */
.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333333;
    margin-top: 20px;
    font-size: 0.9em;
    color: #f4f1f1;
}
