/* Algemene instellingen voor backend */
body {
    background-color: #121212;  
    color: #f4f1f1;             
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Login */
.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
    text-align: center;
}

/* gebruikersnaam en wachtwoord */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #f4f1f1;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #ff0000;
    outline: none;
}

/* Inlogknop */
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #f4f1f1;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}


/* Header stijl beheerpagina */
header {
    background-color: #000000;  
    padding: 20px;
    text-align: center;
    color: #ff0000;            
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5);
    margin-bottom: 20px;
}



/* Film Beheer */
.film-table table {
    width: 90%;
    margin: 20px auto;
    background-color: #1a1a1a;
    color: #f4f1f1;
}

.film-table th, .film-table td {
    padding: 12px;
    border-bottom: 1px solid #313030;
    text-align: center;
}

/* Rechts in de Acties-kolom */
.film-table a {
    color: #ff0000;
    text-decoration: none;
}

/* Terug naar overzicht knop 3de pagina  */
.back-button {
    background-color: #333;
    color: #f4f1f1;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}

/*  stijl voor knoppen (voeg een film to en opslaan knop) */
button, .btn, .add-button {
    background-color: #ff0000;  
    color: #f4f1f1;             
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
}

button:hover, .btn:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}


/* Film titel/Genre/ korte beschrijving */
.film-form {
    width: 50%;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
}

/* Invoervelden en Tekstvak */
input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #565454;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #f4f1f1;
}

/* Tekstvak (Korte Beschrijving) */
textarea {
    height: 250px;
    font-family: sans-serif; 

}

/* Focus voor invoervelden */
input[type="text"]:focus, textarea:focus {
    border-color: #ff0000;
    outline: none;
}

/* Opslaan-knop */
button[type="submit"] {
    width: 100%;
}
